.jumbotron{
    padding-top: 6rem;
    background-color: #e2edff;
}

#projeck{
    background-color: #e2edff;
}

section{
    padding: 8rem;
}

.gallery-img{
    width: 100%;
}

#gallery .row >*{
    padding: 0;
}

/* My Ketboard section */
.keyboard-box{
    background-color: #0c6efd;
}

section{
    padding: 0;
}
